@font-face {
  font-family: Vermin Vibes;
  src: url('vermin-vibes.otf');
}

#hex {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #5E3164;
}
